:root {
--basic-title-color: color: #212121;
--base-text-color: color: #757575;
--accent-white-color: color: #FFFFFF;
}
  

body {
  color: var(--basic-title-color);
  font-family: 'Roboto', sans-serif;
  background: #FFFFFF;
  letter-spacing: 0.03em;
  
}

/* Логотип*/
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none; /* убирает подчеркивание*/
  color: #000000;
}
.logo-blue {
  color: #2196f3;
}

.logo-white {
  color: var(--accent-white-color);
}
/* Навигация */
.navigator .nav-link {
  color: var(--basic-title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}
.navigator .nav-link:hover,
.navigator .nav-link:focus,
.navigator .nav-link:active
 {
  color: #2196f3;
}
/*Контакты*/
.contact a{
 text-decoration: none;
}
.contact .contact-link {
  color: var(--base-text-color);
}
.contact .contact-link:hover,
.contact .contact-link:focus {
  color: #2196f3;
}
/*Герой*/
/*.hero {
}*/
  h1 .hero {
  color: var(--accent-white-color);
  letter-spacing: 0.06em; 
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36px;
  text-transform: uppercase;
}

.hero-button {
color: var(--accent-white-color);
font-family: inherit;
cursor: pointer; 
font-weight: 700;
font-size: 16px;
line-height: 1.88px;
  }
/* Проекты*/
.project-title {
color:  var(--basic-title-color);
font-weight: 700;
font-size: 14px;
line-height: 1.14px;
}
.project-text{
color: var(--base-text-color);
font-size: 14px; 
line-height: 1.71px;
}
/* Карточки проектов*/
.project-cards-title{
color: var(--basic-title-color);
font-weight: 700; 
font-size: 36px;
line-height: 1.17px;
}
/*Команда*/
h2 .command{
color: var(--basic-title-color);
font-weight: 700; 
font-size: 36px;
line-height: 1.17px;
}

h3 .command{
  color: var(--basic-title-color);
  font-weight: 500; 
font-size: 16px;
line-height: 1.19px;
}
p  .command{
  color: var(--base-text-color);
  font-size: 16px; 
line-height: 1.19px;

}
/*Адрес*/
.address {
  text-decoration: none;
}
.address-map{
  color: var(--accent-white-color);
font-size: 14px; 
line-height: 1.71px;
}
.address-link{
color: rgba(255, 255, 255, 0.6);
font-size: 14px;
line-height: 1.71px;
}
/*Портфолио*/
 .portfolio-button{
color: var(--basic-title-color);
font-family: inherit; 
cursor: pointer;
font-weight: 500;
font-size: 16px;
line-height: 1.63px;
}
.portfolio-project h2{
color: var(--basic-title-color);
font-weight: 700;
font-size: 18px;
line-height: 2px;
letter-spacing: 0.06em;
}
.portfolio-project p{
color: var(--base-text-color);
font-size: 16px;
line-height: 1.88px;
}