:root {
  --basic-title-color: {
    color: #212121;
  }
  --basic-text-color: {
    color: #757575;
  }
  --accent-white-color: {
    color: #ffffff;
  }
}
body {
  font-family: 'Roboto', sans-serif;
  background: #e5e5e5;
  letter-spacing: 0.03em;
}

/* color: #2196F3; синий для лого   background: #F5F4FA; для фона наша команда*/
/*color: #212121;  черный заголовки*/
/*color: #757575; серый для номера и ссылок в хедере и р*/
/* color:#FFFFFF; белый для н1* и кнопки/
/*  color: rgba(255, 255, 255, 0.6); почта и телефон в ввнизу*/
/* Логотип*/
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none; /* убирает подчеркивание*/
}
.logo-blue {
  color: #2196f3;
}

.logo-black {
  color: #212121;
}
.logo-white {
  color: #ffffff;
}
/* Навигация */
.navigator .link {
  color: var(--basic-title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}
.navigator .link:hover,
.navigator .link:focus {
  color: #2196f3;
}
/*Контакты*/
.contact .link {
  color: var(--basic-text-color);
}
.contact .link:hover,
.contact .link:focus {
  color: #2196f3;
}
/*
.button {
  font-family: inherit;
}*/
