:root {
  --basic-title-color: #212121;
  --base-text-color: #757575;
  --white-color: #ffffff;
}
/* Цвет фона основной но на нем невидно белые элементы
background: #ffffff;*/
body {
  color: var(--basic-title-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background: #e5e5e5;
}

/* Логотип*/
.logo {
  font-family: 'Raleway', sans-serif;
  text-decoration: none; /* убирает подчеркивание*/
  color: #000000;
}
.logo-blue {
  color: #2196f3;
}

/* Навигация */
.navigator {
  text-decoration: none;
}
.navigator .link {
  color: var(--basic-title-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
}
.navigator .link:hover,
.navigator .link:focus,
.navigator .link:active {
  color: #2196f3;
}

/*Контакты*/

.contact-link {
  color: var(--base-text-color);
  text-decoration: none;
}
.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}
/*Герой*/

.hero-title {
  color: var(--white-color);
  letter-spacing: 0.06em;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36px;
  text-transform: uppercase;
}

.hero-button {
  color: var(--white-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  letter-spacing: 0.06em;
}
.hero-button.hero-button:hover,
.hero-button.hero-button:focus {
  color: #2196f3;
}
/* Проекты*/
.project-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
}
.project-text {
  color: var(--base-text-color);
  font-size: 14px;
  line-height: 1.71px;
}
/* Карточки проектов*/
.project-cards-title,
.command-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
}
/*Команда*/
.command-heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19px;
}
.command-text {
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 1.19px;
}
/*Footer*/
.logo-footer {
  color: var(--white-color);
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
}
/*Адрес*/

.address-map {
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.71px;
  text-decoration: none;
}
.address-link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71px;
  text-decoration: none;
}
.address-link.address-link:hover,
.address-link.address-link:focus {
  color: #2196f3;
}
/*Портфолио*/
.portfolio-button {
  color: var(--basic-title-color);
  font-family: inherit;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63px;
}
.portfolio-button.portfolio-button:hover,
.portfolio-button.portfolio-button:focus {
  color: var(--white-color);
}
.portfolio-project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2px;
  letter-spacing: 0.06em;
}
.portfolio-project-text {
  color: var(--base-text-color);
  font-size: 16px;
  line-height: 1.88px;
}
